<h3 class="tieu-de">DANH MỤC NỔI BẬT</h3>
<div class="categories row g-4">
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category ">
            <img src="./assets/win.png">
            <p>Phần mềm hệ thống</p>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/server-soft365.jpg">
            <p>Server - Máy chủ</p>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/oracle.png">
            <p>Phần mềm Database</p>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/pc-desktop.jpg">
            <p>PC - Workstation</p>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/secure.png">
            <p>Phần mềm bảo mật</p>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/laptop-soft365.jpg">
            <p>Laptop-Notebook</p>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/o365.png">
            <p>Phần mềm văn phòng</p>
        </div>
    </div>  
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/network_device.png">
            <p>Thiết bị mạng</p>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/autodesk.png">
            <p>Phần mềm CAD</p>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/san.png">
            <p>Thiết bị lưu trữ</p>
        </div>
    </div> 
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/adobe.png">
            <p>Phần mềm đồ họa</p>
        </div>
    </div>    
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">

        <div class="category">
            <img src="./assets/pt.jpg">
            <p>Phần mềm Thiết bị văn phòng</p>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/vs.png">
            <p>Phần mềm lập trình</p>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/c1.jpg">
            <p>Linh kiện máy tính</p>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img id="chatgpt" src="./assets/gpt.png">
            <p>Phần mềm AI</p>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/k1.jpeg">
            <p>Phụ kiện - dây cáp</p>
        </div>
    </div>    
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="category">
            <img src="./assets/cl.png">
            <p>Phần mềm Cloud</p>
        </div>
    </div>
</div>