<h3>LAPTOP</h3>
<div class="product-grid">
    <div class="col">
        <div class="product-card">
            <img src="./assets/15-inch_macbook_air_apple_m3_chip_with_8_core_cpu_and_10_core_gpu_16gb_512gb_ssd_space_grey_colour_2__1_1.png">
            <div class="card-body">
                <p>15-inch MacBook Air: Apple M3 chip with 8-core CPU and 10-core GPU, 8GB, 256GB SSD</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/13-inch_macbook_air_apple_m3_chip_with_8_core_cpu_and_10_core_gpu_16gb_512gb_ssd_starlight_colour_2__6.png">
            <div class="card-body">
                <p>13-inch MacBook Air: Apple M2 chip uiwth 8-core CPU and 10-core GPU, 512GB - Starlight</p>
            <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/thinksystem_sr630_.png">
            <div class="card-body">
                <p>Lenovo ThinkSystem SR360 V3 8SFF Silver 4410Y</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/83a100rfvn.jpg">
            <div class="card-body">
                <p>Laptop Lenovo V15 G4 IRU 83A100RFVN (i7 13620H, 16GB DDR4, 512GB SSD)</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
</div>