<h3>MÁY CHỦ CHÍNH HÃNG</h3>
<div class="product-grid">
    <div class="col">
        <div class="product-card">
            <img src="./assets/r650xs_1.jpg" alt="Dell R650xs">
            <div class="card-body">
                <p>Máy chủ Dell PowerEdge R650xs 8x2.5 42SVRD650-707</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/dell_poweredge_r450_8x25.jpg" alt="Dell R450">
            <div class="card-body">
                <p>Máy chủ Dell PowerEdge R450 Intel Xeon Silver 4310 8x2.5</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/thinksystem_sr630_.png" alt="Lenovo SR360">
            <div class="card-body">
                <p>Lenovo ThinkSystem SR360 V3 8SFF Silver 4410Y</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/dell_poweredge_r550_8x25inch.jpg" alt="Dell R550">
            <div class="card-body">
                <p>Máy chủ Dell PowerEdge R550 8x2.5INCH XEON 4310</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
</div>