<h3>PC - WORKSTATION</h3>
<div class="product-grid">
    <div class="col">

        <div class="product-card">
            <img src="./assets/dell_sff_7020.jpg">
            <div class="card-body">
                <p>Máy tính Dell OptiPlex Small Form Factor 7020 (i7-12700, 32 GB DDR5/M.2 2230 512GB)</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/mac_studio_apple_m2_max_chip_with_12_core_cpu_30_core_gpu_512gb_ssd_2__1.png">
            <div class="card-body">
                <p>Mac Studio: Apple M2 Ultra chip with 24-core CPU, 60-core GPU, 1TB SSD</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/b01rmpt.jpg">
            <div class="card-body">
                <p>Máy tính AIO HP EliteOne 870 G9 B01RMPT (I7-14700, 16GB DDR5, 512GB SSD, 27inch)</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">

        <div class="product-card">
            <img src="./assets/thinksystem_sr630_.png">
            <div class="card-body">
                <p>Lenovo ThinkSystem SR360 V3 8SFF Silver 4410Y</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">   
        <div class="product-card">
            <img src="./assets/mac_mini_apple_m2_pro_chip_with_8_core_cpu_and_10_core_gpu_512gb_ssd_1.png">
            <div class="card-body">
                <p>Mac mini: Apple M2 chip with 8-core CPU and 10-core GPU, 512GB SSD</p>
                <button>Nhận Báo Giá</button>
            </div> 
        </div>
    </div>
</div>