<h3>PHẦN MỀM BẢN QUYỀN</h3>
<div class="product-grid">
    <div class="col">
        <div class="product-card">
            <img src="./assets/edrawmax_1.jpg">
            <div class="card-body">
                <p>Phần mềm Wondershare EdrawMax for Business Annual Subscription License</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/mathtype-ot.jpg">
            <div class="card-body">
                <p>Phần mềm MathType for Office Tools</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/iron_barcode.jpg" alt="">
            <div class="card-body">
                <p>Phần mềm IronBarcode for .NET</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>    
</div>
<h3>MÁY CHỦ CHÍNH HÃNG</h3>
<div class="product-grid">
    <div class="col">
        <div class="product-card">
            <img src="./assets/r650xs_1.jpg">
            <div class="card-body">
                <p>Máy chủ Dell PowerEdge R650xs 8x2.5 42SVRD650-707</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/dell_poweredge_r450_8x25.jpg">
            <div class="card-body">
                <p>Máy chủ Dell PowerEdge R450 Intel Xeon Silver 4310 8x2.5</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>   
    <div class="col">
        <div class="product-card">
            <img src="./assets/thinksystem_sr630_.png">
            <div class="card-body">
                <p>Lenovo ThinkSystem SR360 V3 8SFF Silver 4410Y</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/dell_poweredge_r550_8x25inch.jpg">
            <div class="card-body">
                <p>Máy chủ Dell PowerEdge R550 8x2.5INCH XEON 4310</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
</div>