<h3>THIẾT BỊ MẠNG</h3>
<div class="product-grid">
    <div class="col">
        <div class="product-card">
            <img src="./assets/sophos_xgs_3300.jpg">
            <div class="card-body">
                <p>Thiết bị tường lửa Sophos XGS 3300</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/xgs-128w.jpg">
            <div class="card-body">
                <p>Thiết bị tường lửa Sophos XGS 128w Wireless (Gen 2) Firewall</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/rg-eg210g-p-v3.jpg">
            <div class="card-body">
                <p>Router Cân bằng tải Ruijie RoE RG-EG210G-P-V3 (10 port 1 Gbps)</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="product-card">
            <img src="./assets/ds-3e1510p-ei_m.jpg">
            <div class="card-body">
                <p>Switch Hikvision Smart POE 8 Port Gigabit DS-3E1510P-EI/M</p>
                <button>Nhận Báo Giá</button>
            </div>
        </div>
    </div>
</div>